\textbf{PARTICIPANT DEMOGRAPHIC SURVEY:}

\begin{enumerate}
  \begin{onehalfspacing}
\item
  Your age: \underline{~~~~~~~~~~~~~~~~}

\item
  Your gender: \underline{~~~~~~~~~~~~~~~~}

\item
  The degree you are working towards: \underline{~~~~~~~~~~~~~~~~}

\item
  Your current position:
  \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

~~~~~~~~\textit{(Undergraduate Student, Graduate Student, Staff, Faculty,
etc.)}

\item
  Your major:
  \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

~~~~~~~~\textit{(If you are not currently in school, tell us what was your
primary field of study)}

\item
  Number of years of programming experience:
  \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

\textit{(Please combine your years of experience with all programming
languages. If you have experience with C++ for one year and with
Java for another year, then write down 2 years)}

\item
  Specifically, how many years of experience do you have in C/C++?
  \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

\item
  List all programming languages you have used:

  \rule{0.8\linewidth}{\linethickness} \\
  \rule{0.8\linewidth}{\linethickness} \\
  \rule{0.8\linewidth}{\linethickness}

\item
  If your current position involves developing software on a daily
  basis, please tell us what programming language(s) you use:

  \rule{0.8\linewidth}{\linethickness} \\
  \rule{0.8\linewidth}{\linethickness} \\
  \rule{0.8\linewidth}{\linethickness}

\item
  What is your preferred programming language?
  \underline{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~}

\textit{(Which language do you feel most comfortable working with?)}

\item
  How would you estimate your proficiency in C/C++?


\textit{(With 1 representing ``Novice'' and 6 representing ``Expert,'' pick the
number that closest matches what you see as your level of expertise)}

\vspace{10pt}

~~~~~~~~~~~~~~~~1~~~~~~~~2~~~~~~~~3~~~~~~~~4~~~~~~~~5~~~~~~~~6~~~~~~~~

\end{onehalfspacing}
\end{enumerate}

\vspace{10pt}

Please use the space below to share with us anything about your
programming knowledge and experience not captured by the previous
questions. Please feel free to use the backside if needed.

\end{document}
