\textbf{Program Code Sample {{question_name}}}

\vspace{20pt}

\lstinputlisting{../{{question_file}}}

\begin{longtable}[]{@{}ll@{}}


\begin{minipage}[t]{0.5\columnwidth}\raggedright\strut
\textbf{Program {{question_name}} Notes}
\strut\end{minipage} &
\begin{minipage}[t]{0.5\columnwidth}\raggedright\strut
\textbf{Program {{question_name}} Output}

\vspace{20pt}

\textbf{Start Time}: \underline{~~~~~~~~~~~~~~~~}

\vspace{10pt}

\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}
\begin{center}\vspace{6pt}\rule{\linewidth}{\linethickness}\end{center}

\vspace{20pt}

\textbf{End Time}: \underline{~~~~~~~~~~~~~~~~}

\strut\end{minipage}\tabularnewline

\end{longtable}

\pagebreak
