\documentclass[12pt, a4paper, oneside]{article}

\usepackage{longtable,booktabs}
\usepackage{graphicx,grffile}

\IfFileExists{parskip.sty}{%
\usepackage{parskip}
}{% else
\setlength{\parindent}{0pt}
\setlength{\parskip}{6pt plus 2pt minus 1pt}
}







%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%



\usepackage{listings}
\usepackage{courier}
\lstset{basicstyle=\fontsize{10}{18}\ttfamily,breaklines=false}
% \lstset{
%   basicstyle  = \ttfamily,
%   % basewidth = {.5em,0.5em},
%   % columns   = flexible,
%   % columns   = fullflexible,
% }

\usepackage{setspace}

\usepackage{fancyhdr}

\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\usepackage[margin=0.9in,headheight=15pt]{geometry}

%%%%%%%%%%%%%%%%%%%%%%%
%   Header & Footer
%%%%%%%%%%%%%%%%%%%%%%%

\pagestyle{fancy}
\fancyhf{}
\fancyhead[R]{SUBJECT I.D.~\#~~\underline{~~~~~~{{subject_id}}~~~~~}}

\renewcommand{\headrulewidth}{0pt}
\fancyfoot[C]{\thepage}


\begin{document}

\thispagestyle{empty}

\includegraphics[width=0.5\paperwidth]{images/tandon_long_color.png}

\vspace{20pt}

You have been invited to take part in a research study that explores
how programmers read and understand code. This study will be conducted
by Justin Cappos of the Department of Computer Science and Engineering.
If you agree to be in this study, you will be asked to do the
following:

\begin{enumerate}
\item
  {Read 4 program snippets, each of about 30 lines, and write down the
  program output.}
\item
  {Complete a short demographic survey about your programming
  experience.}
\end{enumerate}

There are no known risks associated with your participation in this
research beyond those of everyday life. By helping the investigator
complete this research, you are assisting in the development of better
interaction between programmers and code that could have positive
benefits for all software developers.

Participation in this study will take approximately an hour. You
will receive \$8.00 for your participation.

Confidentiality of your research records will be strictly maintained by
assigning a pseudonym to each participant. No data is directly linked to
any individual participant. Only the researchers who are approved by the
IRB office for this study will have access to the participants'
identifying information.

Participation in this study is voluntary. You may refuse to participate
or withdraw at anytime without penalty. For interviews, questionnaires,
or surveys, you have the right to skip any questions you prefer not to
answer.

Nonparticipation or withdrawal will not affect the services you receive
at NYU, and if you are a student, will not affect your grades or
academic standing.

If you have any questions about the study or your participation in it,
or you wish to report a research-related problem, you may contact Justin
Cappos at (718) 260-3116, or jcappos@nyu.edu, 2 MetroTech Center.

For questions about your rights as a research participant, you may
contact the University Committee on Activities Involving Human Subjects,
New York University, 665 Broadway, Suite 804, New York, New York, 10012,
at ask.humansubjects@nyu.edu or (212) 998-4808.

You will be given a copy of this consent document for your records.

\vspace{20pt}

Agreement to Participate

\vspace{20pt}

\rule{0.7\linewidth}{\linethickness}

Subject's Signature \& Date

\pagebreak

\begin{center}\textbf{Study on Code Comprehension}\end{center}

\vspace{20pt}

Date: \underline{~~~~~~~~~~~~~~~~~~~~}

\vspace{20pt}

\textbf{DIRECTIONS:}

Thank you for agreeing to participate in this study. Please read these
instructions carefully.

You will be asked to look at four examples of source code taken from
different small computer programs. For each sample, step through the
program as if you were the computer, executing each instruction.
Following each code sample, you will find a page divided into two
columns. The left hand side is to be used as ``scratch paper,'' for
notes or for working through the code. In the right hand column,
labeled ``Program Output,'' please record the standard output of the
program, emitted by the \textit{printf} function.

Please try to trace each program until it terminates. If, for whatever reason,
you feel you have to give up on a question, please make a note in the program
output by writing ``I give up!''. If you fill every line of space given to you
in the Program Output section you should stop working on that question and move
to the next.

Lastly, please note the time you start and finish your work on each program in
the given spaces.

After the test, you will find a short questionnaire about you and your
programming experience. Please complete this as well.

\begin{center}\rule{0.8\linewidth}{2pt}\end{center}


\textbf{Example of a Completed Response}

\vspace{10pt}

\textbf{Start Time}: \underline{~~~~~9:32 a.m.~~~~~}

\vspace{10pt}

\textbf{Program Code}

\begin{lstlisting}
void main() {
  int V1 = 21;
  printf("a: %d\n", V1);
  V1 *= 2;
  printf("b: %d\n", V1);
}
\end{lstlisting}

\textbf{Program Output}

a: 21

b: 42

\textbf{Finish Time}: \underline{~~~~~9:49 a.m.~~~~~}

\begin{center}\rule{0.8\linewidth}{2pt}\end{center}

\pagebreak
